body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u55757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1615px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u55757 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:27px;
  width:1615px;
  height:644px;
  display:flex;
  line-height:22px;
}
#u55757 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55758 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:418px;
  width:1595px;
  height:246px;
}
#u55759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
}
#u55759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u55759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:58px;
}
#u55760 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:189px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:58px;
}
#u55761 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:214px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:58px;
}
#u55762 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:218px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:58px;
}
#u55763 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:0px;
  width:327px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:58px;
}
#u55764 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:0px;
  width:151px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
}
#u55765 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:0px;
  width:147px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:58px;
}
#u55766 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:0px;
  width:278px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u55767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:68px;
  height:95px;
  display:flex;
  font-size:14px;
}
#u55767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:95px;
}
#u55768 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:58px;
  width:189px;
  height:95px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u55768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:95px;
}
#u55769 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:58px;
  width:214px;
  height:95px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u55769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:95px;
}
#u55770 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:58px;
  width:218px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:95px;
}
#u55771 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:58px;
  width:327px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:95px;
}
#u55772 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:58px;
  width:151px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:95px;
}
#u55773 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:58px;
  width:147px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:95px;
}
#u55774 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:58px;
  width:278px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:93px;
}
#u55775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:68px;
  height:93px;
  display:flex;
  font-size:14px;
}
#u55775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:93px;
}
#u55776 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:153px;
  width:189px;
  height:93px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u55776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:93px;
}
#u55777 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:153px;
  width:214px;
  height:93px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u55777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:93px;
}
#u55778 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:153px;
  width:218px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:93px;
}
#u55779 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:153px;
  width:327px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:93px;
}
#u55780 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:153px;
  width:151px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:93px;
}
#u55781 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:153px;
  width:147px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:93px;
}
#u55782 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:153px;
  width:278px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u55783 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:692px;
  width:154px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:22px;
}
#u55783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u55784 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:731px;
  width:1596px;
  height:247px;
}
#u55785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
}
#u55785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u55785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:58px;
}
#u55786 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:189px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:58px;
}
#u55787 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:214px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:58px;
}
#u55788 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:502px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:58px;
}
#u55789 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:0px;
  width:219px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
}
#u55790 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:0px;
  width:128px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u55791 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:0px;
  width:148px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
}
#u55792 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:0px;
  width:128px;
  height:58px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u55792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u55793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:68px;
  height:95px;
  display:flex;
  font-size:14px;
}
#u55793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:95px;
}
#u55794 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:58px;
  width:189px;
  height:95px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u55794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:95px;
}
#u55795 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:58px;
  width:214px;
  height:95px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u55795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:95px;
}
#u55796 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:58px;
  width:502px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:95px;
}
#u55797 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:58px;
  width:219px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:95px;
}
#u55798 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:58px;
  width:128px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:95px;
}
#u55799 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:58px;
  width:148px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:95px;
}
#u55800 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:58px;
  width:128px;
  height:95px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:93px;
}
#u55801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:68px;
  height:93px;
  display:flex;
  font-size:14px;
}
#u55801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:93px;
}
#u55802 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:153px;
  width:189px;
  height:93px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u55802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:93px;
}
#u55803 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:153px;
  width:214px;
  height:93px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u55803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:93px;
}
#u55804 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:153px;
  width:502px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:93px;
}
#u55805 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:153px;
  width:219px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:93px;
}
#u55806 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:153px;
  width:128px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:93px;
}
#u55807 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:153px;
  width:148px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:93px;
}
#u55808 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:153px;
  width:128px;
  height:93px;
  display:flex;
  font-size:14px;
  color:#3C3C3C;
  text-align:left;
}
#u55808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u55808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
